@using Recrovit.RecroGridFramework.Client.Blazor.Parameters
@using Recrovit.RecroGridFramework.Client.Blazor.UI.Components

<EntityComponent EntityParameters="EntityParameters">
    <ToolbarTemplate>
        @*<div>OrderComponent-Toolbar</div>*@
        <ToolbarComponent EntityParameters="context" />
    </ToolbarTemplate>
</EntityComponent>

@code {

    [Parameter, EditorRequired]
    public RgfEntityParameters EntityParameters { get; set; } = null!;
}
