/*rg_employee_1 => RG_Employee (v1)*/
div.rg-details.rg_employee_1 { width: 748px; }
div.rg-details.rg_employee_1 div.ui-dialog-content div.rg-tabs { height: 478px; }
/*rg-col-10112 => TitleOfCourtesy:*/
.rg_employee_1 div.rg-property[name="rg-col-10112"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10112"] .rg-cru { width: 50px; }
/*rg-col-10099 => FirstName:*/
.rg_employee_1 div.rg-property[name="rg-col-10099"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10099"] .rg-cru { width: 200px; }
/*rg-col-10102 => LastName:*/
.rg_employee_1 div.rg-property[name="rg-col-10102"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10102"] .rg-cru { width: 200px; }
/*rg-col-10105 => Photo*/
.rg_employee_1 div.rg-property[name="rg-col-10105"] { position: absolute; top: 13px; left: 385px; }
.rg_employee_1 div.rg-property[name="rg-col-10105"] .rg-cru { height: 79px; }
/*rg-col-10111 => Title:*/
.rg_employee_1 div.rg-property[name="rg-col-10111"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10111"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10111"] .rg-cru { width: 200px; }
/*rg-col-10108 => Region:*/
.rg_employee_1 div.rg-property[name="rg-col-10108"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10108"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10108"] .rg-cru { width: 200px; }
/*rg-col-10091 => BirthDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10091"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10091"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10091"] .rg-cru { width: 200px; }
/*rg-col-10093 => Country:*/
.rg_employee_1 div.rg-property[name="rg-col-10093"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10093"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10093"] .rg-cru { width: 200px; }
/*rg-col-10101 => HomePhone:*/
.rg_employee_1 div.rg-property[name="rg-col-10101"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10101"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10101"] .rg-cru { width: 200px; }
/*rg-col-10092 => City:*/
.rg_employee_1 div.rg-property[name="rg-col-10092"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10092"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10092"] .rg-cru { width: 200px; }
/*rg-col-10100 => HireDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10100"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10100"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10100"] .rg-cru { width: 200px; }
/*rg-col-10090 => Address:*/
.rg_employee_1 div.rg-property[name="rg-col-10090"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10090"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10090"] .rg-cru { width: 200px; }
/*rg-col-10098 => Extension:*/
.rg_employee_1 div.rg-property[name="rg-col-10098"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10098"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10098"] .rg-cru { width: 200px; }
/*rg-col-10107 => PostalCode:*/
.rg_employee_1 div.rg-property[name="rg-col-10107"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10107"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10107"] .rg-cru { width: 200px; }
/*rg-col-10106 => PhotoPath:*/
.rg_employee_1 div.rg-property[name="rg-col-10106"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10106"] .rg-cru { width: 200px; }
/*rg-col-10096 => Employees2_EmployeeID:*/
.rg_employee_1 div.rg-entity[name="rg-col-10096"] > div.rg-property[name="rg-col-10096"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-entity[name="rg-col-10096"] > div.rg-property[name="rg-col-10096"] .rg-cru { width: 200px; }
/*rg-col-10089 => EmployeeID:*/
.rg_employee_1 div.rg-property[name="rg-col-10089"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10089"] .rg-cru { width: 50px; }
/*rg-col-10097 => EmployeeTerritories (v1)*/
/*rg-col-10094 => Employees (v1)*/
/*rg-col-10103 => Notes:*/
.rg_employee_1 div.rg-property[name="rg-col-10103"] .rg-cru { width: 721px; height: 323px; }