/*rg_employee_1 => RG_Employee (v1)*/
div.rg-details.rg_employee_1 { width: 801px; }
div.rg-details.rg_employee_1 div.ui-dialog-content div.rg-tabs { height: 527px; }
/*rg-col-10066 => TitleOfCourtesy:*/
.rg_employee_1 div.rg-property[name="rg-col-10066"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10066"] .rg-cru { width: 200px; }
/*rg-col-10055 => FirstName:*/
.rg_employee_1 div.rg-property[name="rg-col-10055"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10055"] .rg-cru { width: 200px; }
/*rg-col-10058 => LastName:*/
.rg_employee_1 div.rg-property[name="rg-col-10058"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10058"] .rg-cru { width: 200px; }
/*rg-col-10052 => City:*/
.rg_employee_1 div.rg-property[name="rg-col-10052"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10052"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10052"] .rg-cru { width: 200px; }
/*rg-col-10053 => Country:*/
.rg_employee_1 div.rg-property[name="rg-col-10053"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10053"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10053"] .rg-cru { width: 200px; }
/*rg-col-10049 => EmployeeID:*/
.rg_employee_1 div.rg-property[name="rg-col-10049"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10049"] .rg-cru { width: 200px; }
/*rg-col-10061 => PhotoPath:*/
.rg_employee_1 div.rg-property[name="rg-col-10061"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10061"] .rg-cru { width: 200px; }
/*rg-col-10062 => PostalCode:*/
.rg_employee_1 div.rg-property[name="rg-col-10062"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10062"] .rg-cru { width: 200px; }
/*rg-col-10063 => Region:*/
.rg_employee_1 div.rg-property[name="rg-col-10063"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10063"] .rg-cru { width: 200px; }
/*rg-col-10071 => Employees2_EmployeeID:*/
.rg_employee_1 div.rg-entity[name="rg-col-10071"] > div.rg-property[name="rg-col-10071"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-entity[name="rg-col-10071"] > div.rg-property[name="rg-col-10071"] .rg-cru { width: 200px; }
/*rg-col-10060 => Photo*/
.rg_employee_1 div.rg-property[name="rg-col-10060"] { position: absolute; top: 0px; left: 385px; }
.rg_employee_1 div.rg-property[name="rg-col-10060"] .rg-cru { height: 79px; }
/*rg-col-10065 => Title:*/
.rg_employee_1 div.rg-property[name="rg-col-10065"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10065"] .rg-cru { width: 200px; }
/*rg-col-10050 => Address:*/
.rg_employee_1 div.rg-property[name="rg-col-10050"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10050"] .rg-cru { width: 200px; }
/*rg-col-10051 => BirthDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10051"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10051"] .rg-cru { width: 200px; }
/*rg-col-10054 => Extension:*/
.rg_employee_1 div.rg-property[name="rg-col-10054"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10054"] .rg-cru { width: 200px; }
/*rg-col-10056 => HireDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10056"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10056"] .rg-cru { width: 200px; }
/*rg-col-10057 => HomePhone:*/
.rg_employee_1 div.rg-property[name="rg-col-10057"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10057"] .rg-cru { width: 200px; }
/*rg-col-10068 => EmployeeTerritories (v1)*/
/*rg-col-10069 => Employees (v1)*/
/*rg-col-10072 => Orders (v1)*/
/*rg-col-10059 => Notes:*/
