/*rg_employee_1 => RG_Employee (v1)*/
div.rg-details.rg_employee_1 { width: 769px; }
div.rg-details.rg_employee_1 div.ui-dialog-content div.rg-tabs { height: 527px; }
/*rg-col-10067 => TitleOfCourtesy:*/
.rg_employee_1 div.rg-property[name="rg-col-10067"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10067"] .rg-cru { width: 200px; }
/*rg-col-10056 => FirstName:*/
.rg_employee_1 div.rg-property[name="rg-col-10056"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10056"] .rg-cru { width: 200px; }
/*rg-col-10059 => LastName:*/
.rg_employee_1 div.rg-property[name="rg-col-10059"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10059"] .rg-cru { width: 200px; }
/*rg-col-10053 => City:*/
.rg_employee_1 div.rg-property[name="rg-col-10053"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10053"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10053"] .rg-cru { width: 200px; }
/*rg-col-10054 => Country:*/
.rg_employee_1 div.rg-property[name="rg-col-10054"] { display: inline-block; }
.rg_employee_1 div.rg-property[name="rg-col-10054"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10054"] .rg-cru { width: 200px; }
/*rg-col-10051 => Address:*/
.rg_employee_1 div.rg-property[name="rg-col-10051"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10051"] .rg-cru { width: 200px; }
/*rg-col-10052 => BirthDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10052"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10052"] .rg-cru { width: 200px; }
/*rg-col-10050 => EmployeeID:*/
.rg_employee_1 div.rg-property[name="rg-col-10050"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10050"] .rg-cru { width: 200px; }
/*rg-col-10072 => Employees2_EmployeeID:*/
.rg_employee_1 div.rg-entity[name="rg-col-10072"] > div.rg-property[name="rg-col-10072"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-entity[name="rg-col-10072"] > div.rg-property[name="rg-col-10072"] .rg-cru { width: 200px; }
/*rg-col-10055 => Extension:*/
.rg_employee_1 div.rg-property[name="rg-col-10055"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10055"] .rg-cru { width: 200px; }
/*rg-col-10057 => HireDate:*/
.rg_employee_1 div.rg-property[name="rg-col-10057"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10057"] .rg-cru { width: 200px; }
/*rg-col-10058 => HomePhone:*/
.rg_employee_1 div.rg-property[name="rg-col-10058"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10058"] .rg-cru { width: 200px; }
/*rg-col-10061 => Photo*/
.rg_employee_1 div.rg-property[name="rg-col-10061"] { position: absolute; top: 0px; left: 385px; }
.rg_employee_1 div.rg-property[name="rg-col-10061"] .rg-cru { height: 79px; }
/*rg-col-10062 => PhotoPath:*/
.rg_employee_1 div.rg-property[name="rg-col-10062"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10062"] .rg-cru { width: 200px; }
/*rg-col-10063 => PostalCode:*/
.rg_employee_1 div.rg-property[name="rg-col-10063"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10063"] .rg-cru { width: 200px; }
/*rg-col-10064 => Region:*/
.rg_employee_1 div.rg-property[name="rg-col-10064"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10064"] .rg-cru { width: 200px; }
/*rg-col-10066 => Title:*/
.rg_employee_1 div.rg-property[name="rg-col-10066"] .rg-label { text-align: center; min-width: 125px; }
.rg_employee_1 div.rg-property[name="rg-col-10066"] .rg-cru { width: 200px; }
/*rg-col-10069 => EmployeeTerritories (v1)*/
/*rg-col-10070 => Employees (v1)*/
/*rg-col-10073 => Orders (v1)*/
/*rg-col-10060 => Notes:*/
