/*################################################################################################################################*/
DELETE FROM orderdetails;
DELETE FROM orders;
DELETE FROM products;
DELETE FROM suppliers;
DELETE FROM shippers;
DELETE FROM employeeterritories;
DELETE FROM territories;
DELETE FROM region;
DELETE FROM employees;
DELETE FROM customers;
DELETE FROM categories;
/*$$*/
/*################################################################################################################################*/
/*$$*/
/*################################################################################################################################*/
INSERT INTO customers VALUES('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', NULL, '12209', 'Germany', '030-0074321', '030-0076545', 0);
INSERT INTO customers VALUES('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', NULL, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745', 0);
INSERT INTO customers VALUES('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', NULL, '05023', 'Mexico', '(5) 555-3932', NULL, 0);
/*$$*/
/*################################################################################################################################*/
--################################################################################################################################33
/*$$*/
update employees set Notes='Education includes a BA in psychology from Colorado State University in 1970.  She also completed "The Art of the Cold Call."  Nancy is a member of Toastmasters International.' where EmployeeID=1;
update employees set Notes='Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing from the University of Dallas in 1981.  He is fluent in French and Italian and reads German.  He joined the company as a sales representative, was promoted to sales manager in January 1992 and to vice president of sales in March 1993.  Andrew is a member of the Sales Management Roundtable, the Seattle Chamber of Commerce, and the Pacific Rim Importers Association.' where EmployeeID=2;
update employees set Notes='Janet has a BS degree in chemistry from Boston College (1984).  She has also completed a certificate program in food retailing management.  Janet was hired as a sales associate in 1991 and promoted to sales representative in February 1992.' where EmployeeID=3;
update employees set Notes='Margaret holds a BA in English literature from Concordia College (1958) and an MA from the American Institute of Culinary Arts (1966).  She was assigned to the London office temporarily from July through November 1992.' where EmployeeID=4;
update employees set Notes='Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree in 1976.  Upon joining the company as a sales representative in 1992, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London.  He was promoted to sales manager in March 1993.  Mr. Buchanan has completed the courses "Successful Telemarketing" and "International Sales Management."  He is fluent in French.' where EmployeeID=5;
update employees set Notes='Michael is a graduate of Sussex University (MA, economics, 1983) and the University of California at Los Angeles (MBA, marketing, 1986).  He has also taken the courses "Multi-Cultural Selling" and "Time Management for the Sales Professional."  He is fluent in Japanese and can read and write French, Portuguese, and Spanish.' where EmployeeID=6;
update employees set Notes='Robert King served in the Peace Corps and traveled extensively before completing his degree in English at the University of Michigan in 1992, the year he joined the company.  After completing a course entitled "Selling in Europe," he was transferred to the London office in March 1993.' where EmployeeID=7;
update employees set Notes='Laura received a BA in psychology from the University of Washington.  She has also completed a course in business French.  She reads and writes French.' where EmployeeID=8;
update employees set Notes='Anne has a BA degree in English from St. Lawrence College.  She is fluent in French and German.' where EmployeeID=9;
/*$$*/
/*################################################################################################################################*/
INSERT INTO region VALUES(1, 'Eastern                                           ', 0);
INSERT INTO region VALUES(2, 'Western                                           ', 0);
INSERT INTO region VALUES(3, 'Northern                                          ', 0);
/*$$*/
INSERT INTO territories VALUES('01581', 'Westboro                                          ', 1, 0);
INSERT INTO territories VALUES('01730', 'Bedford                                           ', 1, 0);
INSERT INTO territories VALUES('01833', 'Georgetow                                         ', 1, 0);
/*$$*/
INSERT INTO employeeterritories VALUES(1, '06897', 0);
INSERT INTO employeeterritories VALUES(1, '19713', 0);
INSERT INTO employeeterritories VALUES(2, '01581', 0);
/*$$*/
/*################################################################################################################################*/
INSERT INTO shippers VALUES(1, 'Speedy Express', '(503) 555-9831', 0);
INSERT INTO shippers VALUES(2, 'United Package', '(503) 555-3199', 0);
INSERT INTO shippers VALUES(3, 'Federal Shipping', '(503) 555-9931', 0);
/*$$*/
/*################################################################################################################################*/
INSERT INTO suppliers VALUES(1, 'Exotic Liquids', 'Charlotte Cooper', 'Purchasing Manager', '49 Gilbert St.', 'London', NULL, 'EC1 4SD', 'UK', '(171) 555-2222', NULL, NULL, 0);
INSERT INTO suppliers VALUES(2, 'New Orleans Cajun Delights', 'Shelley Burke', 'Order Administrator', 'P.O. Box 78934', 'New Orleans', 'LA', '70117', 'USA', '(100) 555-4822', NULL, '#CAJUN.HTM#', 0);
INSERT INTO suppliers VALUES(3, 'Grandma Kelly''s Homestead', 'Regina Murphy', 'Sales Representative', '707 Oxford Rd.', 'Ann Arbor', 'MI', '48104', 'USA', '(313) 555-5735', '(313) 555-3349', NULL, 0);
/*$$*/
/*################################################################################################################################*/
INSERT INTO products VALUES(1, 'Chai', 1, 1, '10 boxes x 20 bags', 18.00, 39, 0, 10, '0', 0);
INSERT INTO products VALUES(2, 'Chang', 1, 1, '24 - 12 oz bottles', 19.00, 17, 40, 25, '0', 0);
INSERT INTO products VALUES(3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.00, 13, 70, 25, '0', 0);
/*$$*/
/*################################################################################################################################*/
INSERT INTO orders VALUES(10248, 'VINET', 5, '1996-07-04', '1996-08-01', '1996-07-16', 3, 32.38, 'Vins et alcools Chevalier', '59 rue de l''Abbaye', 'Reims', NULL, '51100', 'France', 0);
INSERT INTO orders VALUES(10249, 'TOMSP', 6, '1996-07-05', '1996-08-16', '1996-07-10', 1, 11.61, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', NULL, '44087', 'Germany', 0);
INSERT INTO orders VALUES(10250, 'HANAR', 4, '1996-07-08', '1996-08-05', '1996-07-12', 2, 65.83, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil', 0);
/*$$*/
/*################################################################################################################################*/
INSERT INTO orderdetails VALUES(10248, 11, 14.00, 12, 0, 0);
INSERT INTO orderdetails VALUES(10248, 42, 9.80, 10, 0, 0);
INSERT INTO orderdetails VALUES(10248, 72, 34.80, 5, 0, 0);
/*$$*/

SELECT setval('categories_categoryid_seq', (SELECT MAX(categoryid) FROM categories)+1);
SELECT setval('employees_employeeid_seq', (SELECT MAX(employeeid) FROM employees)+1);
SELECT setval('orders_orderid_seq', (SELECT MAX(orderid) FROM orders)+1);
SELECT setval('products_productid_seq', (SELECT MAX(productid) FROM products)+1);
SELECT setval('shippers_shipperid_seq', (SELECT MAX(shipperid) FROM shippers)+1);
SELECT setval('suppliers_supplierid_seq', (SELECT MAX(supplierid) FROM suppliers)+1);
/*$$*/
