@using Recrovit.RecroGridFramework.Client.Blazor.Parameters
@using Recrovit.RecroGridFramework.Client.Blazor.UI.Components

<EntityComponent @ref="_productRef" EntityParameters="ProductEntityParameters">
    <ToolbarTemplate>
        @* <div>ProductComponent-Toolbar</div> *@
        <ToolbarComponent EntityParameters="context" />
    </ToolbarTemplate>
</EntityComponent>

@code {

    [Parameter]
    public RgfEntityParameters EntityParameters { get; set; } = new RgfEntityParameters("RG_Product_1");

    public RgfEntityParameters ProductEntityParameters
    {
        get
        {
            EntityParameters.TitleTemplate = (context) => @<h4>Products</h4>;
            return EntityParameters;
        }
    }
}